In [17]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns


data0 = pd.read_excel('데이터수정본.xlsx')
data1 = pd.read_excel('시간별주차현황_선형회귀.xlsx')

data0.head()

,행정구역코드,시도명,시군구명,읍면동명,평일주말구분,혼잡시간강도,혼잡빈도강도,전체 추정교통량,승용차 추정교통량,버스 추정교통량,화물차 추정교통량,주차장명,시간별 주차현황
0,1101053,서울특별시,종로구,사직동,평일,95.12,90.43,18445,15038,100,3307,"서울글로벌센터, 적선노외",NaN
1,1101054,서울특별시,종로구,삼청동,평일,53.03,32.45,9841,8195,39,1607,NaN,NaN
2,1101055,서울특별시,종로구,부암동,평일,74.40,60.51,17090,13951,107,3032,NaN,NaN
3,1101056,서울특별시,종로구,평창동,평일,59.39,45.55,13694,11105,86,2503,NaN,NaN
4,1101057,서울특별시,종로구,무악동,평일,67.78,36.04,25492,20986,142,4364,NaN,NaN

In [18]:
data1.head()

    주차장명            시간대  주차면수  입차대수  출차대수           읍면동명
0  가양라이품  2021-09-29 00    38     0     1  가양 1동, 2동, 3동
1  가양라이품  2021-09-29 01    38     0     0  가양 1동, 2동, 3동
2  가양라이품  2021-09-29 02    38     0     0  가양 1동, 2동, 3동
3  가양라이품  2021-09-29 03    38     0     0  가양 1동, 2동, 3동
4  가양라이품  2021-09-29 04    38     0     0  가양 1동, 2동, 3동

In [21]:
data0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   행정구역코드     422 non-null    int64
 1   시도명        422 non-null    object
 2   시군구명       422 non-null    object
 3   읍면동명       422 non-null    object
 4   평일주말구분     422 non-null    object
 5   혼잡시간강도     422 non-null    float64
 6   혼잡빈도강도     422 non-null    float64
 7   전체 추정교통량   422 non-null    int64
 8   승용차 추정교통량  422 non-null    int64
 9   버스 추정교통량   422 non-null    int64
 10  화물차 추정교통량  422 non-null    int64
 11  주차장명       48 non-null     object
 12  시간별 주차현황   0 non-null      float64
dtypes: float64(3), int64(5), object(5)
memory usage: 43.0+ KB

In [20]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179289 entries, 0 to 179288
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   주차장명    179289 non-null  object
 1   시간대     179289 non-null  object
 2   주차면수    179289 non-null  int64
 3   입차대수    179289 non-null  int64
 4   출차대수    179289 non-null  int64
 5   읍면동명    680 non-null     object
dtypes: int64(3), object(3)
memory usage: 8.2+ MB